<h1>Welcome!!</h1>


<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users/profile">My Profile</a></li>
    <li><a href="/movies/getSelect">SelectMovie</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>


<a href="/users/register">Register</a>

<a href="/users/login">Login</a>