<h1>Search Movies</h1>
  <form action="/search-form" method="post">
    <label for="page">Page:</label>
    <input type="number" id="page" name="page" required>

    <label for="perPage">Items per Page:</label>
    <input type="number" id="perPage" name="perPage" required>

    <label for="title">Title (optional):</label>
    <input type="text" id="title" name="title">

    <button type="submit">Search</button>
  </form>


  <a href="/users/logout">Logout</a>
  <a href="/users/profile">User Profile</a>
